# Byte-compiled / optimized / DLL files
__pycache__/
*.py[co]
*.$py.class

# Virtual environments
.venv/
venv/

# MacOS
.DS_Store

# VS Code
.vscode/

# Python packaging
*.egg-info/
dist/
build/

# Jupyter notebooks
.ipynb_checkpoints/

# === DATASETS - DO NOT COMMIT ===
data/raw/
data/raw/**
data/interim/
data/interim/**
data/processed/
data/processed/**

# === MODELS (DO NOT COMMIT) ===
models/
models/**

